.ant-layout-sider-trigger{
    background-color: #262626 !important;
}
.ant-menu{
    background-color: #000 !important;
}
.ant-menu-item-selected{
    background-color: #ef4444!important;
}


/*--------- PRODUCT LIST START  ---------*/

.ant-btn-default:hover{
    border-color: #ef4444!important;
}

.ant-btn-default:focus{
    border-color: #d9d9d9 !important;
}

/*--------- PRODUCT LIST FINISH  ---------*/

.ant-modal-confirm-btns{
    display: flex;
    justify-content: flex-end;
}
.ant-btn-primary{
    background-color: #ef4444!important;
    border: none !important;
    
}
.ant-btn-primary:hover{
    background-color: #b91c1c!important;
    

}